{% extends 'registration\base.html' %}

{% block title %}Панель преподавателя — LearningHub{% endblock %}

{% block content %}
<div class="text-center mb-5">
    <h1 class="fw-bold text-success">👨‍🏫 Панель преподавателя</h1>
    <p class="lead text-muted">Управляйте своими курсами и следите за учебным процессом.</p>
</div>

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow-sm mb-4">
            <div class="card-body text-center">
                <h5 class="card-title">Добро пожаловать, {{ user.username }}!</h5>
                <div class="d-grid gap-2 col-6 mx-auto mt-4">
                    <a href="{% url 'courses:course_create' %}" class="btn btn-primary">
                        ➕ Добавить курс
                      </a>
                        <a href="{% url 'courses:course_list' %}" class="btn btn-outline-primary">📚 общие курсы</a>
                    <a href="#" class="btn btn-outline-info disabled">👥 Студенты (в разработке)</a>
                    <a href="{% url 'home' %}" class="btn btn-outline-dark">🏠 На главную</a>
                    <a href="{% url 'logout' %}" class="btn btn-outline-danger">🚪 Выйти</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

